[
    Context(
        id: Default,
        mappings: [
            (
                raw_type: Button(Left),
                action: Game(InternalButton),
            ),
            (
                raw_type: Motion,
                state_active: Some(Game(InternalButton)),
                action: Game(RotateCamera),
            ),
            (
                raw_type: Key(Escape),
                action: UI(Close),
            ),
            (
                raw_type: Key(W),
                action: Game(MoveForward),
            ),
            (
                raw_type: Key(Key1),
                modifier: Some(ALT),
                action: Game(FireAbility1),
            ),
            (
                raw_type: Motion,
                action: Game(RotateDirection),
            ),
            (
                raw_type: Key(F1),
                action: Game(ToggleUI),
            ),
        ],
    )
]
