[
    Context(
        id: Default,
        mappings: [
            (
                raw_type: Key(Escape),
                state : Some(Release),
                action: Close,
            ),
            (
                raw_type: Key(W),
                action: MoveForward,
            ),
            (
                raw_type: Key(Key1),
                state : Some(Release),
                modifier : Some(ALT),
                action: FireAbility1,
            ),
            (
                raw_type: Motion,
                action: RotateDirection,
            ),
        ],
    ),
    Context(
        id: UI,
        mappings: [
            (
                raw_type: Char,
                action: Text,
            )
        ],
    )
]
